html, body, .main-container, #sidebar, #mapContainer {
  height: 100%;
  margin: 0;
}

h1 {
  padding: 20px;
  color: white;
}

.main-container {
  display: flex;
}

p {
  color: white;
}

.intro {
  padding: 10px;
}

#sidebar {
  background-opacity: 90%;
  width: 380px;
  flex-grow: 1;
  backdrop-filter: blur(40px);
  z-index: 2;
  position: absolute;
}

#mapContainer {
  flex-grow: 1;
  overflow: visible;
  position: relative;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column2 {
  float: left;
  width: 20%;
  height: 20px;
}

.row2:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  color: white;
  font-size: 8px;
  padding: 10px;
}

.btn-group-vertical {
  padding: 10px;
}

.layerselectorcontainer {
  z-index: 2;
  position: absolute;
  right: 5px;
  top: 70px;
}

.infobox {
  width: 350px;
  height: 200px;
  color: white;
  padding-left: 10px;
}

#legendbar {
  padding: 10px;
}

.rank {
  font-style: oblique;
  font-weight: bold;
  font-size: 12px;
}

.ranknumbers {
  font-style: oblique;
  font-size: 10px;
}
#legendbar1{
  background-color: #045a8d;
}
#legendbar2{
  background-color: #2b8cbe;
}
#legendbar3{
  background-color: #74a9cf;
}
#legendbar4{
  background-color: #bdc9e1;
}
#legendbar5{
  background-color: #f1eef6;
}
